body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
img {
  vertical-align: middle;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 298px;
  height: 598px;
  border: 1px solid #000;
  background-color: #E6427E;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 298px;
  height: 598px;
  visibility: hidden;
  opacity: 0;
}
.click-tag {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#logo {
  background: url(logo.png) center no-repeat;
  -ms-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
#bg {
  background: url(bg.jpg) center no-repeat;
  visibility: visible;
}
#text1 {
  left: -300px;
  background: url(text1.png) center no-repeat;
}
#text2 {
  left: 300px;
  background: url(text2.png) center no-repeat;
}
#text3 {
  left: 64px;
  top: 40px;
  width: 174px;
  height: 109px;
  background: url(text3.png) center no-repeat;
  -ms-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
#text4 {
  width: 255px;
  height: 240px;
  top: 165px;
  left: 23px;
  background: url(text4.png) center no-repeat;
}
#text5 {
  width: 216px;
  height: 117px;
  left: 44px;
  top: 434px;
  background: url(text5.png) center no-repeat;
  -ms-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
#text6 {
  height: 200px;
  left: 1px;
  background: url(text6.png) center no-repeat;
}
#text7 {
  width: 130px;
  height: 250px;
  left: 86px;
  top: 220px;
  background: url(text7.png) center no-repeat;
  -ms-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
#text8 {
  height: 114px;
  top: 486px;
  background: url(text8.png) center no-repeat;
}
#yellowborder1 {
  height: 0;
  background: url(yellowborder1.png) top center no-repeat;
}
#yellowborder2 {
  height: 0;
  background: url(yellowborder2.png) top center no-repeat;
}
