body {
  margin: 0;
  padding: 0;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 298px;
  height: 598px;
  border: 1px solid #000000;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 600px;
  visibility: hidden;
  opacity: 0;
}
#bg{
  position: inherit;
  width: 549px;
  height: 1182px;
  background: url('bg.jpg') center bottom;
  top: -580px;
  left: -130px;
}
#logo{
  position: absolute;
  width: 300px;
  height: 600px;
  background-image: url('logo.png');
}
#f1_text1{
  background-image: url('f1_text1.png');
}#f1_text2{
  background-image: url('f1_text2.png');
}
#f2_text1{
  background-image: url('f2_text1.png');
}#f2_text2{
  background-image: url('f2_text2.png');
}
#bg2{

  background-image: url(bg2.jpg);
}
#cta{
  background-image: url(cta.png);
}


