*
{
	margin: 0;
	padding: 0;
	color: #ffffff;
}
@font-face {
  font-family: NissanAGBold;
  src: url(NissanAG-Bold.woff) format('woff');

}
@font-face {
  font-family: NissanProBold;
  src: url(NissanPro-Bold.woff) format('woff');
}
.global, #standalone{
	position: absolute;
	left: 0;
	top: 0;
	width: 970px;
	height: 250px;
	overflow: hidden;
	background-color: #ffffff;
	cursor: pointer;
}
#standalone{
	display: none;
}
#background, #logo, #packshot, #headlights, #cta_wrapper, #cta_highlight, #f1_title, #f2_title, #f2_subtitle, #f3_title, #f3_subtitle{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#headlights{
  opacity: 0;
}
#cta_wrapper{
  overflow: hidden;
  background: #c71444;
  font-family: NissanProBold, 'Arial', Helvetica Neue, Helvetica, sans-serif;
  opacity: 0;
}
#cta_icon, #cta_icon_animate, #cta_text {
  position: absolute;
}
#cta_highlight {
  left:-100px;
}
#f1_title{
	left: 753px;
	top: 27px;
  opacity: 0;
}
#f2_title, #f3_title{
  left: 553px;
  top: 40px;
  opacity: 0;
}
#f2_subtitle, #f3_subtitle{
  left: 553px;
  opacity: 0;
}
#f1_title, #f2_title, #f2_subtitle, #f3_title, #f3_subtitle {
  font-family: NissanAGBold, 'Arial', Helvetica Neue, Helvetica, sans-serif;
}













































































