body {
  margin: 0;
  padding: 0;
  background: #ffffee;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 298px;
  height: 248px;
  border: 1px solid #000000;
  background: #ffffff url(bg.jpg) no-repeat center;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  width: 298px;
  height: 248px;
  visibility: hidden;
  opacity: 0;
}
#border-1 {
  background: url(border-1.png);
  height: 0;
  background-size: cover;
}
#logo {
  background: url(logo.png);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
#text-1 {
  width: 300px;
  height: 31px;
  background: url(text-1.png) no-repeat;
  top: 208px;
}
#border-2 {
  background: url(border-2.png);
  height: 0;
  background-size: cover;
}
#text-2 {
  width: 274px;
  height: 120px;
  background: url(text-2.jpg) no-repeat;
  top: 13px;
  left: 13px;
}
#text-3 {
  width: 130px;
  height: 93px;
  background: url(text-3.png) no-repeat;
  top: 139px;
  left: 14px;
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
#text-4 {
  width: 131px;
  height: 95px;
  background: url(text-4.png) no-repeat;
  top: 138px;
  left: 152px;
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
#border-3 {
  background: url(border-3.png);
  height: 0;
  background-size: cover;
}
#text-5 {
  width: 270px;
  height: 68px;
  background: url(text-5.jpg) no-repeat;
  top: 15px;
  left: 15px;
}
#text-6 {
  width: 268px;
  height: 82px;
  background: url(text-6.png) no-repeat;
  top: 89px;
  left: 16px;
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
#text-7 {
  width: 270px;
  height: 60px;
  background: url(text-7.jpg) no-repeat;
  top: 174px;
  left: 15px;
}