
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  color: #333;
}

#main-container {
  position: absolute;
  width: 970px;
  height: 250px;
  top: 0px;
  left: 0px;
  border: 1px solid black;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
}

#exit {
  position: absolute;
  cursor: pointer;
  width: 970px;
  height: 250px;
}
#yt-close {
  z-index: 999;
}

.feature {
  top: 0px;
  left: 0px;
  width: 443px;
  height: 248px;
  position: absolute;
}
#ytp-0 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 970px;
  height: 248px;
}
#banner {
  position: absolute;
  width: 970px;
  height: 250px;
  overflow: hidden;
  border: 1px solid grey;
  background: url('bg.jpg') center no-repeat;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 970px;
  height: 250px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#f2_img1 {
  width: 274px;
  height: 278px;
  background: url('f2_img1.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
  opacity: 1;
  top: -21px;
  left: 308px;
}
#f2_img2 {
  width: 267px;
  height: 276px;
  background: url('f2_img2.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
  opacity: 1;
  top: -19px;
  left: 506px;
}
#f2_img3 {
  width: 316px;
  height: 307px;
  background: url('f2_img3.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
  opacity: 1;
  top: -32px;
  left: 709px;
}
#f2_text1 {
  background: url('f2_text1.png') center no-repeat;
  top: -10px;
}
#f2_text2 {
  background: url('f2_text2.png') center no-repeat;
  top: -10px;
}
#f3_img1 {
  width: 730px;
  height: 704px;
  background: url('f3_img1.png') center no-repeat;
  -ms-transform: scale(0.005); 
  -webkit-transform: scale(0.005); 
  transform: scale(0.005);
  opacity: 1;
  top: -352px;
  left: 605px;
}
#logo{
  background: url('logo.png') center no-repeat;
}
#cta{
  background: url('cta.png') center no-repeat;
  top: 20px;
}






