body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
a {
  display: inline-block;
}
img {
  vertical-align: middle;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 298px;
  height: 598px;
  border: 1px solid #999999;
  background: white;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 298px;
  height: 598px;
  visibility: hidden;
  opacity: 0;
}
#bg {
  width: 298px;
  height: 598px;
  background: url(images/bg.jpg) no-repeat;
  width: 500px;
}
#text {
  background: url(images/text.png) no-repeat;
}
#cta {
  background: url(images/cta.png) no-repeat;
}
#logo {
  width: 300px;
  height: 120px;
  top: auto;
  bottom: 0;
  background: url(images/logo.png) no-repeat;
}
