@charset "UTF-8";
/* CSS Document */
body {
  margin:0;
  padding: 0;
}
.global {
  position: absolute;
  width: 298px;
  height: 248px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border: 1px solid black;
  background-color: black;
  cursor: pointer;
}
#stade, #logo, #cta, #header, #headlights, #text1, #text2, #f1_text, #f1_logo{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;

}
#stade {
  opacity: 1;
  background-image:url(images/bg.jpg);
}
#logo {
  background-image:url(images/logo.png);
  opacity: 1;
}
#car{
  position: absolute;
  width: 70%;
  height: 70%;
  left: -334px;
  top: 15px;

}
#headlights{
  opacity: 0;
  background-image: url(images/headlights.png);
}

.cta_highlight_wrap{
  position: absolute;
  left: 82px;
  top: 207px;
  width: 135px;
  height: 30px;
  overflow: hidden;
}
#cta {
  background-image: url(images/cta.png);
}
#cta_highlight{
  position: absolute;
  left: -90px;
  top: -15px;
  width: 71px;
  height: 46px;
  background-image: url(images/cta_highlight.png);
}
#header{
  background-image: url(images/header.png);
}
#text1{
  top: -20px;
  background-image: url(images/text1.png);
}
