@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
.banner {
  position: absolute;
  width: 298px;
  height: 248px;
  overflow: hidden;
  border:1px solid black;
  background-color: #ffffff;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px;
  visibility: hidden;
  opacity: 0;
}
#list-icon, #logo {
  visibility: visible;
  opacity: 1;
}
.icon {
  float: left;
  background: url("images/icon-1.png");
  width: 10px;
  height: 11px;
  visibility: hidden;
}
.choosen-icon {
  width: 10px;
  height: 11px;
  background: url("images/icon-3.png");
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -4px;
  opacity: 0;
  visibility: hidden;
}
.scaner {
  background: url("images/icon-bg.png");
  width: 29px;
  height: 30px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
#logo {
  background: url("images/logo.png");
  background-position: -1px -1px;
}
#text1 {
  background: url("images/text-1.png");
  background-position: -1px -1px;
}
#text2 {
  background: url("images/text-2.png");
  background-position: -1px -1px;
}
#text3 {
  background: url("images/text-3.png");
  background-position: -1px -1px;
}
#text4 {
  background: url("images/text-4.png");
  background-position: -1px -1px;
}
#text5 {
  background: url("images/text-5.png");
  background-position: -1px -1px;
}
#text6 {
  background: url("images/text-6.png");
  width: 100%;
  height: 100%;
}
#btn {
  background: url("images/btn-1.png");
  background-position: -1px -1px;
}
#layer1 {
  background: url("images/bg.jpg");
  background-position: -1px -1px;
}
#list-icon {
  padding: 10px 14px;
  box-sizing: border-box;
}
