@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 798px;
  height: 498px;
  overflow: hidden;
  border:1px solid black;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 798px;
  height: 498px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#img {
  background: url("img.png") center no-repeat;
  opacity: 1;
}
#mask {
  background: url("mask.png") center no-repeat;
  width: 900px;
  opacity: 1;
}
#f1_box {
  background: url("f1_box.png") center no-repeat;
}
#f1_text {
  background: url("f1_text.png") center no-repeat;
}
#f2_text {
  background: url("f2_text.png") center no-repeat;
}
#f3_text {
  background: url("f3_text.png") center no-repeat;
}
#cta {
  background: url("cta.png") center no-repeat;
  left: -50px;
}
#logo {
  background: url("logo.png") center no-repeat;
  top: 50px;
}
#btn-replay {
  width: 16px;
  height: 16px;
  top: 2px;
  left: 780px;
  background: url('reload.png');
  background-size: cover;
  cursor: pointer;
	visibility: hidden;
}