@charset "UTF-8";
body {
  margin:0;
  padding:0;
}
.layer {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: 118px;
  height: 598px;
}
#banner {
  position: relative;
  width: 118px;
  height: 598px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
}
#bg {  
  width: 135px;
  background: url('bg.jpg') center;
  opacity: 1;
}
#logo {
  opacity: 1;
  background: url('logo.png') center;
}
#awr-logo {
  background: url('awr-logo.png') center;
  opacity: 1;
}
#title {
  background: url('title.png') center;
}
#sub-1 {
  background: url('sub-1.png') center;
}
#sub-2 {
  background: url('sub-2.png') center;
}
#sub-4 {
  background: url('sub-4.png') center;
  top: -52px;
}
#cta {
  background: url('cta.png') center;
}
#tc {
  background: url('tc.png') center;
}
#reload {
  width: 14px;
  height: 14px;
  left: inherit;
  right: 0;
  background: url('reload.png') center;
  cursor: pointer;
}