@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 600px;
  opacity: 0;
}
#banner {
  position: relative;
  width: 118px;
  height: 598px;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
	background: #75c8e3;
}
#logo {
  background: url('logo.png') center;
  opacity: 1;
}
#f1-bg{
  background: url('f1_bg.jpg') center no-repeat;
  opacity: 1;
}
#f1-text1 {
  background: url('f1_text1.png') center;
}
#f1-text2 {
  left: 60px;
  right: 60px;
  background: url('f1_text2.png') center;
  width: auto;
}
#f2-bg{
  background: url('f2_bg.jpg') center;
}
#f2-text{
  background: url('f2_text.png') center;
}
#f3-bg{
  background: url('f3_bg.jpg') center;
}
#f3-text{
  background: url('f3_text.png') center;
}
#f4-bg{
  background: url('f4_bg.jpg') center;
}
#f4-text{
  background: url('f4_text.png') center;
}
#f5-text{
  background: url('f5_text.png') center;
}
#f5-cta{
  background: url('f5_cta.png') center;
}
#f5-tc{
  background: url('tc.png') center;
}
#replay {
  top: 5px;
  left: 90px;
  background: url('replay.png') no-repeat;
  z-index: 10;
  visibility: hidden;
  width: 25px;
  height: 10px;

}