@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  width: 160px;
  height: 600px;
  left: 0;
  top: 0;
  opacity: 0;
}
#banner {
  position: relative;
  width: 158px;
  height: 598px;
  border: 1px solid #e5edf1;
  background: #fff url('bg.jpg') center;  
  overflow: hidden;
  cursor: pointer;
}
#logo {
  opacity: 1;
  background: url('logo.png') center;
}
#f1-image{
  background: url('f1_image.png') center;
  left: -20px;
}
#f1-text{
  background: url('f1_text.png') center;
  left: 20px;
}
#f1-cta{
  background: url('f1_cta.png') center;
  top: 20px;
}

#f2-image{
  background:#fff url('f2_image.png') center;
  left: -20px;
}
#f2-line{
  background: url('f2_line.png') center;
}
#f2-text1{
  background: url('f2_text1.png') center;
  top: 20px;
}
#f2-text2{
  background: url('f2_text2.png') center;
  top: -20px;
}
#f2-text3{
  background: url('f2_text3.png') center;
}
#f2-text4{
  background: url('f2_text4.png') center;
}
#f2-cta{
  background: url('f2_cta.png') center;
  top: 20px;
}
