@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 232px;
  height: 58px;
}
#banner {
  position: relative;
  width: 232px;
  height: 58px;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
	background: url('bg.jpg') center no-repeat;
}
#bg1{
	width: 195px;
	height: 188px;
	top: -54px;
  left: 29px;
  background: url('bg1.png') center no-repeat;
	-ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#flower1{
  width: 57px;
  height: 52px;
	left: -16px;
  top: -11px;
  background: url('flower1.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#flower2{
  width: 39px;
  height: 61px;
	left: 210px;
  top: -11px;
  background: url('flower2.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f1_text{
  background: url('f1_text.png') center no-repeat;
  top: -6px;  
}
#f2_text{
  background: url('f2_text.png') center no-repeat;
  top: -6px;  
}

#bg2{
  width: 290px;
  height: 290px;
  top: -160px;
  left: 6px;
  background: url('bg2.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#flower3{
  width: 195px;
  height: 194px;
  left: -154px;
  top: -9px;
  background: url('flower3.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f3_text{
  background: url('f3_text.png') center no-repeat;
  top: -6px;  
}

#f4_text{
  background: url('f4_text.png') center no-repeat;
  top: -6px;  
}
#bg3{
	width: 230px;
	height: 237px;
	top: -96px;
  left: 125px;
  background: url('bg3.png') center no-repeat;
	-ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#logo{
  background: url('logo.png') center no-repeat;
}
#cta{
  background: url('cta.png') center no-repeat;
  top: 10px; 
}
#f5_text{
  background: url('f5_text.png') center no-repeat;
  top: -6px;  
}
#reload {
  width: 14px;
  height: 14px;
  left: 1px;  
  top:1px;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
  visibility: hidden;
}