@charset "UTF-8";
/* CSS Document */
body {
  margin:0;
  padding: 0;
}
.global {
  position: absolute;
  width: 118px;
  height: 598px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border: 1px solid black;
  background-color: #E6427E;
  cursor: pointer;
}
#text_1, #text_3, #text_5, #text_7, #text_9 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#logo {
  position: absolute;
  width: 120px;
  height: 141px;
  top: 0px;
  left: 0px;
  opacity: 0;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);

}
#border_1 {
  background-image: url(border_1.png);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;

}
#border_2 {
  background-image: url(border_2.png);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;

}
#text_1 {
  background-image: url(text_1.png);
  opacity: 0;
  top: -50px;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#text_2 {
  background-image: url(text_2.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 336px;
  opacity: 0;
  background-repeat: no-repeat;
}
#text_3 {
  background-image: url(text_3.png);
  opacity: 0;
  top: 220px;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#text_4 {
  background-image: url(text_4.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 546px;
  opacity: 0;
  background-repeat: no-repeat;
}
#text_5 {
  background-image: url(text_5.png);
  opacity: 0;
  top: 280px;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#text_6 {
  background-image: url(text_6.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 152px;
  opacity: 0;
  background-repeat: no-repeat;
}
#text_7 {
  background-image: url(text_7.png);
  opacity: 0;
  top: 60px;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#text_8 {
  background-image: url(text_8.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 456px;
  opacity: 0;
  background-repeat: no-repeat;
}
#text_9 {
  background-image: url(text_9.png);
  opacity: 0;
  top: 260px;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#text_10 {
  background-image: url(text_10.png);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 10px;
  top: 569px;
  opacity: 0;
  background-repeat: no-repeat;
}
