@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 158px;
  height: 598px;
}
#banner {
  position: relative;
  width: 158px;
  height: 598px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#f1_bg {
  background: url('f1_bg.jpg') center;
}
#f1_text {
  background: url('f1_text.png') center;
  top: 30px;
}
#f2_bg {
  background: url('f2_bg.jpg') center;
}
#f2_text {
  background: url('f2_text.png') center;
  top: 30px;
}
#f3_bg {
  background: url('f3_bg.jpg') center;
}
#f3_text {
  background: url('f3_text.png') center;
  top: 30px;
}
#f4_bg {
  background: url('f4_bg.jpg') center;
}
#f4_text {
  background: url('f4_text.png') center;
  top: 30px;
}
#f5_bg {
  background: url('f5_bg.jpg') center;
}
#f5_text {
  background: url('f5_text.png') center;
  top: 30px;
}
#f5_price {
  background: url('f5_price.png') center;
  top: 30px;
}
#f5_cta {
  background: url('f5_cta.png') center;
}
#logo {
  opacity: 1;
  background: url('logo.png') center;
}
#logo1 {
  opacity: 1;
  background: url('logo1.png') center;
}