@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 600px;
  opacity: 0;
}
#banner {
  position: relative;
  width: 298px;
  height: 598px;
  border: 1px solid #000;
  background: url('bg.jpg');
  overflow: hidden;
  cursor: pointer;
}
#f1-text{
  background: url('f1-text.png') center no-repeat;
}
#f1-car {
  background: url('f1-car.png') center no-repeat;
}
#frame2 {
  background: url('f2.png') center no-repeat;
}
#frame3 {
  background: url('f3.png') center no-repeat;
}
#frame4 {
  background: url('f4.png') center no-repeat;
}
#frame5 {
  background: url('f5.png') center no-repeat;
}
#frame6 {
  background: url('f6.png') center no-repeat;
}
#frame7 {
  background: url('f7.png') center no-repeat;
}
#frame8 {
  background: url('f8.png') center no-repeat;
}
#cta {
  top: 20px;
  background: url('cta.png') center no-repeat;
}
#awr-logo {
  background: url('awr-logo.png') center no-repeat;
  opacity: 1;
}
#cpo-logo {
  background: url('cpo-logo.png') center no-repeat;
  opacity: 1;
}