@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 726px;
  height: 88px;
}
#banner {
  position: relative;
  width: 726px;
  height: 88px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#text-1 {
  opacity: 1;
  background: url('text-1.png') center;
}
#text-2 {
  background: url('text-2.png') center;
}
#car {
  background: url('car.png') center;
}
#gradient-1 {
  opacity: 1;
  background: url('gradient.png') center;
}
#gradient-2 {
  top: -20px;
  background: url('gradient-1.png') center;
}
#gradient-3 {
  background: url('gradient-2.png') center;
}
#sub-1 {
  background: url('sub-1.png') center;
}
#sub-2 {
  background: url('sub-2.png') center;
}
#sub-3 {
  background: url('sub-3.png') center;
}
#sub-4 {
  background: url('sub-4.png') center;
}
#sub-5 {
  background: url('sub-5.png') center;
}
#sub-6 {
  background: url('sub-6.png') center;
}
#logo {
  top: 90px;
  background: url('logo.png') center;
}
#cta {
  background: url('cta.png') center;
}
