body {
  margin: 0;
  padding: 0;
  background: #ffffee;
}
img {
  vertical-align: middle;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 1558px;
  height: 933px;
  border: 1px solid #000000;
  background: url(bottom-frame.png) no-repeat;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
#bottom-text {
  background: url(bottom-text.png) no-repeat;
}
#bottom-cta {
  background: url(bottom-cta.png) no-repeat;
}
#bottom-logo-text {
  background: url(bottom-logo-text.png) no-repeat;
}
#bottom-logo {
  background: url(bottom-logo.png) no-repeat;
}