@charset "UTF-8";
body {
    margin: 0px;
    padding: 0px;
  }
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 298px;
  height: 248px;
  overflow: hidden;
  border:1px solid black;
  background-color: #fff;
}
.layer {
  position: absolute;
  top: 0;
  width: 298px;
  height: 248px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#f1_bg {
  background: url("f1_bg.jpg") top no-repeat;
}
#f1_cloud {
  background: url("clouds3.png") center no-repeat;
}
#f1_flag1 {
  background: url("f1_flag1.png") top left no-repeat;
}
#f1_flag2 {
  background: url("f1_flag2.png") center no-repeat;
}
#f1_text {
  background: url("f1_text.png") center no-repeat;
}
#f1_cloud{
  top:-55px;
  right:-300px;
}
#f1_flag1{
  top:53px;
  left:-300px;
}
#f1_flag2{
  top:-33px;
  left:-300px;
}
#f1_text,#logo,#f3_text1{
  clip: rect(0px 298px 248px 0px);
}

#f2_bg,#f3_bg {
  background: url("f2_bg.jpg") center no-repeat;
}
#f2_text1 {
  background: url("f2_text1.png") center no-repeat;
}
#f2_text2 {
  background: url("f2_text2.png") center no-repeat;
}
#f2_text3 {
  background: url("f2_text3.png") center no-repeat;
}
#logo {
  background: url("logo.png") center no-repeat;
  z-index:1;
}
#f2_text1,#f2_text2,#f2_text3,#f3_text5{
  left:-300px;
}

#f3_text1 {
  background: url("f3_text1.png") center no-repeat;
}
#f3_text2 {
  background: url("f3_text2.png") center no-repeat;
}
#f3_text3 {
  background: url("f3_text3.png") center no-repeat;
  right:-300px;
}
#f3_text4 {
  background: url("f3_text4.png") center no-repeat;
}
#f3_text5 {
  background: url("f3_text5.png") center no-repeat;
}
#f3_cta {
  background: url("cta.png") center no-repeat;
  right:-300px;
}