@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 726px;
  height: 88px;
  overflow: hidden;
  border:1px solid black;
  background-color: #fff;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 726px;
  height: 88px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#f1_img {
  background: url("f1_img.png") center no-repeat;
  left: -50px;
}
#f1_text {
  background: url("f1_text.png") center no-repeat;
  left: 30px;
}
#f2_box {
  background: url("f2_box.png") center no-repeat;
  top: 90px;
  height: 90px;
}
#f3_box {
  background: url("f3_box.png") center no-repeat;
  top: 88px;
  height: 90px;
  opacity: 1;
}
#f4_box {
  background: url("f4_box.png") center no-repeat;
  top: 88px;
  height: 90px;
  opacity: 1;
}
#f5_box {
  background: url("f5_box.png") center no-repeat;
  top: 88px;
  height: 90px;
  opacity: 1;
}
#tc {
  background: url("tc.png") center no-repeat;
}
/*#f6_img {
  background: url("f6_img.png") center no-repeat;
  left: -50px;
}*/
#f6_text {
  background: url("f6_text.png") center no-repeat;
  left: 30px;
}
#f7_text {
  background: url("f7_text.png") center no-repeat;
}
#logo {
  background: url("logo.png") center no-repeat;
  opacity: 1;
}
#logo_text1 {
  background: url("logo_text1.png") center no-repeat;
}
/*#logo_text2 {
  background: url("logo_text2.png") center no-repeat;
  top: 40px;
}*/
#dsf_logo {
  background: url("dsf_logo.png") center no-repeat;
}
/*#cta {
  background: url("cta.png") center no-repeat;
  top: 40px;
}*/
#btn-replay {
  position: absolute;
  top: 3px;
  right: 3px;
	height: 16px;
  visibility: hidden;
  opacity: 0;
	line-height: 0;
}
