@charset "UTF-8";
/* CSS Document */
body {
  margin:0;
  padding: 0;
}
#banner {
  position: relative;
  width:726px;
  height:88px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border: 1px solid black;
}
  #f1_bg {
  position: absolute;
  width: 728px;
  height: 90px;
  background: url(f1_bg.jpg);
}
  #f1_img, #f2_line, #f1_text, #f1_cta, #f2_bg, #f2_line, #f2_text1, #f2_text2, #f2_text3, #f2_cta {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  #f1_bg, #f1_logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  #f1_logo{
    background: url(f1_logo.png);
  }
  #f1_img{
    background: url(f1_img.png);
    left: -20px;
  }
  #f1_text{
    background: url(f1_text.png);
    left: 30px;
  }
  #f1_cta{
    background: url(f1_cta.png);
    top: 20px;
  }
  #f2_bg{
    background: url(f2_bg.jpg);
  }
  #f2_line{
    background: url(f2_line.png);
  }
  #f2_text1{
    background: url(f2_text1.png);
    left: 15px;
  }
  #f2_text2{
    background: url(f2_text2.png);
    left: -15px
  }
  #f2_text3{
    background: url(f2_text3.png);
  }
  #f2_cta{
    background: url(f2_cta.png);
    top: 20px;
  }
