@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 726px;
  height: 88px;
}
#banner {
  position: relative;
  width: 726px;
  height: 88px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#text-1 {
  left: -200px;
  background: url('text-1.png') center;
}
#text-2 {
  left: -200px;
  background: url('text-2.png') center;
}
#text-3 {
  background: url('text-3.png') center;
}
#text-4 {
  opacity: 1;
  width: 0;
  background: url('text-4.png') left center;
}
#text-5 {
  top: 30px;
  background: url('text-5.png') center;
}
#text-6 {
  background: url('text-6.png') center;
}
#text-7 {
  background: url('text-7.png') center;
}
#cta {
  background: url('cta.png') center;
}
#car-1 {
  background: url('car-1.png') center;
  left: -100px;
  -webkit-transform: scale(0.1);
     -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
       -o-transform: scale(0.1);
          transform: scale(0.1);
}
#car-2 {
  left: 228px;
  background: url('car-2.png') center;
  -webkit-transform: scale(0.1);
     -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
       -o-transform: scale(0.1);
          transform: scale(0.1);
}
#car-3 {
  left: 228px;
  background: url('car-3.png') center;
  -webkit-transform: scale(0.1);
     -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
       -o-transform: scale(0.1);
          transform: scale(0.1);
}
#car-4 {
  left: 228px;
  background: url('car-4.png') center;
  -webkit-transform: scale(0.1);
     -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
       -o-transform: scale(0.1);
          transform: scale(0.1);
}
#car-5 {
  left: -100px;
  background: url('car-5.png') center;
  -webkit-transform: scale(0.1);
     -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
       -o-transform: scale(0.1);
          transform: scale(0.1);
}
#logo-1 {
  top: -90px;
  background: url('logo-1.png') center;
}
#logo-2 {
  top: 90px;
  background: url('logo-2.png') center;
}
#btn-replay {
  width: 15px;
  height: 15px;
  top: 3px;
  left: inherit;
  right: 3px;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
}


