@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 118px;
  height: 598px;
  overflow: hidden;
  border:1px solid black;
  background: url("bg.jpg") center no-repeat;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 118px;
  height: 598px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#f1_img {
  background: url("f1_img.png") center no-repeat;
  height: 268px;
  top: 0;
  opacity: 1;
}
#f1_text {
  opacity: 1;
}
#f4_text {
  opacity: 1;
}
#f1_text1 {
  background: url("f1_text1.png") center no-repeat;
  -ms-transform: (0.5, 0, 0, 0.5, 0, -25); /* IE 9 */
  -webkit-transform: (0.5, 0, 0, 0.5, 0, -25); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 0, -25);
}
#f1_text2 {
  background: url("f1_text2.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 0, -10); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -10); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 0, -10);
}
#f1_text3 {
  background: url("f1_text3.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 0, 5); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 5); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 0, 5);
}
#f1_text4 {
  background: url("f1_text4.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 0, 10); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 10); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 0, 10);
}
#f1_product {
  background: url("f1_product.png") center no-repeat;
  opacity: 1;
  -ms-transform: matrix(0.9, 0, 0, 0.9, 0, 0); /* IE 9 */
  -webkit-transform: matrix(0.9, 0, 0, 0.9, 0, 0); /* Safari */
  transform: matrix(0.9, 0, 0, 0.9, 0, 0);
}
#f2_img {
  background: url("f2_img.png") center no-repeat;
  height: 240px;
  top: 0;
}
#f2_product {
  background: url("f2_product.png") center no-repeat;
  width: 120px;
  opacity: 1;
  -ms-transform: matrix(1, 0, 0, 1, 120, 0); /* IE 9 */
  -webkit-transform: matrix(1, 0, 0, 1, 120, 0); /* Safari */
  transform: matrix(1, 0, 0, 1, 120, 0);
}
#f3_img {
  background: url("f3_img.png") center no-repeat;
  height: 288px;
  top: 0;
}
#f3_product {
  background: url("f3_product.png") center no-repeat;
  width: 120px;
  opacity: 1;
  -ms-transform: matrix(1, 0, 0, 1, 120, 0); /* IE 9 */
  -webkit-transform: matrix(1, 0, 0, 1, 120, 0); /* Safari */
  transform: matrix(1, 0, 0, 1, 120, 0);
}
#f4_img {
  background: url("f4_img.png") center no-repeat;
  height: 291;
  width: 144px;
  -ms-transform: matrix(0.8, 0, 0, 0.8, -13, -180); /* IE 9 */
  -webkit-transform: matrix(0.8, 0, 0, 0.8, -13, -180); /* Safari */
  transform: matrix(0.8, 0, 0, 0.8, -13, -180);
}
#f4_product {
  background: url("f4_product.png") center no-repeat;
  width: 120px;
  opacity: 1;
  -ms-transform: matrix(1, 0, 0, 1, 120, 0); /* IE 9 */
  -webkit-transform: matrix(1, 0, 0, 1, 120, 0); /* Safari */
  transform: matrix(1, 0, 0, 1, 120, 0);
}
#f4_text1 {
  background: url("f4_text1.png") center no-repeat;
  -ms-transform: (0.5, 0, 0, 0.5, 0, -25); /* IE 9 */
  -webkit-transform: (0.5, 0, 0, 0.5, 0, -25); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 0, -25);
}
#f4_text2 {
  background: url("f4_text2.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 0, -10); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, -10); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 0, -10);
}
#f4_text3 {
  background: url("f4_text3.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 0, 5); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 5); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 0, 5);
}
#f4_text4 {
  background: url("f4_text4.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 0, 10); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 10); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 0, 10);
}
#cta {
  height: 22px;
  width: 93px;
  top: 550px;
  left: 13px;
  opacity: 1;
  overflow: hidden;
}
#cta_button {
  background: url("cta.png") center no-repeat;
  width: 93px;
  height: 22px;
  opacity: 1;
}
#cta_mask {
  background: url("cta_mask.png") center no-repeat;
  width: 37px;
  height: 22px;
  left: -38px;
  opacity: 1;
}
#logo {
  background: url("logo.png") center no-repeat;
  opacity: 1;
}