@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 298px;
  height: 248px;
}
#banner {
  position: relative;
  width: 298px;
  height: 248px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#car {
  background: url('car.jpg') center;
	left: -30px;
}
#logo1{
  background: url('logo1.png') center;
  opacity: 1;
}
#text1 {
  background: url('text1.png') center;
  top: -40px;
}
#text2 {
  background: url('text2.png') center;
  top: -40px;
}
#text3 {
  background: url('text3.png') center;
  top: -40px;
}
#text4 {
  background: url('text4.png') center;
  top: -40px;
}
#text5 {
  background: url('text5.png') center;
  top: -40px;
}
#text6 {
  background: url('text6.png') center;
  top: -40px;
}
#text7 {
  background: url('text7.png') center;
  top: -40px;
}
#logo2 {
  background: url('logo2.png') center;
}
#cta {
  background: url('cta.png') center;
  top: 30px;
}
#tc {
  background: url('tc.png') center;
}