@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 298px;
  height: 248px;
}
#banner {
  position: relative;
  width: 298px;
  height: 248px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#bg {
  background: url('bg.jpg') top center;
  opacity: 1;
}
#text-1 {
  background: url('text-1.png') top center;
}
#text-2 {
  background: url('text-2.png') center;
}
#text-3 {
  background: url('text-3.png') center;
}
#cta {
  background: url('cta.png') center;
}
#tc {
  background: url('tc.png') center;
}
#btn-replay {
  width: 15px;
  height: 15px;
  top: 3px;
  left: inherit;
  right: 3px;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
}


