@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 600px;
  opacity: 0;
}
#banner {
  position: relative;
  width: 298px;
  height: 598px;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
}
#bg{
  background: url('bg.jpg') center no-repeat;
  opacity: 1;
}
#coin-bottom{
  background: url('coin_bottom.jpg') center no-repeat;
}
#car1{
  background: url('car1.jpg') center no-repeat;
}
#car2{
  background: url('car2.jpg') center no-repeat;
}
#logo{
  background: url('logo.png') center no-repeat;
  opacity: 1;
}
#coin{
  background: url('coin.png') center no-repeat;  
}
#coin-left1{
  background: url('coin_left1.png') center no-repeat;
  transform: scale(0.1);
  top: -20px;
}
#coin-right1{
  background: url('coin_right1.png') center no-repeat;
  transform: scale(0.1);
  top: -20px;
}#coin-left2{
  background: url('coin_left1.png') center no-repeat;
  transform: scale(0.1);
  top: -20px;
}
#coin-right2{
  background: url('coin_right1.png') center no-repeat;
  transform: scale(0.1);
  top: -20px;
}
#text1{
  background: url('text1.jpg') center no-repeat;  
}
#cta{
  background: url('cta.jpg') center no-repeat;
}
#car3{
  background: url('car3.jpg') center no-repeat;
}
#car4{
  background: url('car4.jpg') center no-repeat;
}
#shakeTxt {
  background: url('shake.png') center no-repeat;
}
#reload {
  width: 20px;
  height: 20px;
  left: inherit;
  right: 0;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
}