@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 118px;
  height: 598px;
}
#banner {
  position: relative;
  width: 118px;
  height: 598px;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
	background: url('bg.jpg') center no-repeat;
}
#bg1{
	width: 367px;
	height: 359px;
	top: 115px;
  left: -124px;
  background: url('bg1.png') center no-repeat;
	-ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#flower1{
  width: 227px;
  height: 224px;
	left: -47px;
  top: -99px;
  background: url('flower1.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#flower2{
  width: 211px;
  height: 190px;
	left: -51px;
  top: 448px;
  background: url('flower2.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f1_text{
  background: url('f1_text.png') center no-repeat;
  top: -15px;  
}
#f2_text{
  background: url('f2_text.png') center no-repeat;
  top: -15px;  
}

#bg2{
  width: 430px;
  height: 435px;
  top: -42px;
  left: -200px;
  background: url('bg2.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#flower3{
  width: 289px;
  height: 289px;
  left: -89px;
  top: 381px;
  background: url('flower3.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f3_text{
  background: url('f3_text.png') center no-repeat;
  top: -15px;  
}

#f4_text{
  background: url('f4_text.png') center no-repeat;
  top: -15px;  
}
#bg3{
	width: 361px;
	height: 372px;
	top: -51px;
  left: -123px;
  background: url('bg3.png') center no-repeat;
	-ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#logo{
  background: url('logo.png') center no-repeat;
}
#cta{
  background: url('cta.png') center no-repeat;
  top: 30px; 
}
#f5_text{
  background: url('f5_text.png') center no-repeat;
  top: -15px;  
}
#reload {
  width: 14px;
  height: 14px;
  left: inherit;
  right: 0;
  top:0px;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
  visibility: hidden;
}