@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 726px;
  height: 88px;
  overflow: hidden;
  border:1px solid black;
  background: url("bg.jpg") center no-repeat;
  cursor: pointer;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 726px;
  height: 88px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#logo {
  background: url("logo.png") center no-repeat;
  opacity: 1;
}
#f1_text1 {
  background: url("f1_text1.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 2, -6);
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 2, -6);
  transform: matrix(0.5, 0, 0, 0.5, 2, -6);
}
#f1_text2 {
  background: url("f1_text2.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 2, 5);
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 2, 5);
  transform: matrix(0.5, 0, 0, 0.5, 2, 5);
}
#f3_text1 {
  background: url("f3_text1.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 3, -6);
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 3, -6);
  transform: matrix(0.5, 0, 0, 0.5, 3, -6);
}
#f3_text2 {
  background: url("f3_text2.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 8, 5);
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 8, 5);
  transform: matrix(0.5, 0, 0, 0.5, 8, 5);
}
#f1_img1 {
  background: url("f1_img1.png") center no-repeat;
  width: 238px;
  height: 204px;
  -ms-transform: translate(-2px, 0px);
    -webkit-transform: translate(-2px, 0px);
    transform: translate(-2px, 0px);
}
#f1_img2 {
  background: url("f1_img2.png") center no-repeat;
  -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
#f1_img3 {
  background: url("f1_img3.png") center no-repeat;
  -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
#f1_img4 {
  background: url("f1_img4.png") center no-repeat;
  width: 202px;
  height: 184px;
  -ms-transform: matrix(0.51, 0, 0, 0.51, 523, -44);
  -webkit-transform: matrix(0.51, 0, 0, 0.51, 523, -44);
  transform: matrix(0.51, 0, 0, 0.51, 523, -44);
}
#f1_img5 {
  background: url("f1_img5.png") center no-repeat;
}
#f2_img {
  background: url("f2_img.png") center no-repeat;
  width: 240px;
  height: 230px;
  -ms-transform: translate(-1px, -1px);
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
}
#f3_img {
  background: url("f3_img.png") center no-repeat;
  width: 230px;
  height: 262px;
  -ms-transform: translate(-1px, -4px);
    -webkit-transform: translate(-1px, -4px);
    transform: translate(-1px, -4px);
}
