@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 726px;
  height: 88px;
}
#banner {
  position: relative;
  width: 726px;
  height: 88px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#text-1 {
  background: url('text-1.png') top center;
  height: 0;
  opacity: 1;
}
#text-2 {
  left: 728px;
  background: url('text-2.png') center;
}
#text-3 {
  left: 728px;
  background: url('text-3.png') center;
}
#text-4 {
  left: 728px;
  background: url('text-4.png') center;
}
#text-5 {
  background: url('text-5.png') center;
}
#cta {
  background: url('cta.png') center;
}
#car {
  -webkit-transform: scale(0.1);
     -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
       -o-transform: scale(0.1);
          transform: scale(0.1);
  background: url('car.jpg') center;
}
#car-2{
	height: 300px;
	top: -100px;
  -webkit-transform: scale(0.4);
     -moz-transform: scale(0.4);
      -ms-transform: scale(0.4);
       -o-transform: scale(0.4);
          transform: scale(0.4);
  background: url('car2.jpg') center;
}
#logo {
  top: 90px;
  background: url('logo.png') center;
}
#btn-replay {
  width: 15px;
  height: 15px;
  top: 3px;
  left: inherit;
  right: 3px;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
}
