body {
  margin: 0;
  padding: 0;
  background: #ffffee;
}
img {
  vertical-align: middle;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  border: 1px solid #000000;
  background: white;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
#radar {
  background: url(radar.png);
}
#bgd {
  background: url(bg.png) no-repeat;
}
#logo {
  background: url(logo.png) no-repeat;
}
#f1-text {
  background: url(f1-text.png) no-repeat;
}
#f2-text {
  background: url(f2-text.png) no-repeat;
}
#f3-text {
  background: url(f3-text.png) no-repeat;
}
#text-box-1, #text-box-2, #text-box-3, #text-box-4, #text-box-5, #text-box-6 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
#text-box-1 {
  background: url(text-box-1.png) no-repeat;
}
#text-box-2 {
  background: url(text-box-2.png) no-repeat;
}
#text-box-3 {
  background: url(text-box-3.png) no-repeat;
}
#text-box-4 {
  background: url(text-box-4.png) no-repeat;
}
#text-box-5 {
  background: url(text-box-5.png) no-repeat;
}
#text-box-6 {
  background: url(text-box-6.png) no-repeat;
}
#f4-text {
  background: url(f4-text.png) no-repeat;
}
#f4-bgd {
  background: url(f4-bg.jpg) no-repeat;
}
#cta {
  background: url(cta.png) no-repeat;
}
#group-wrap, #radar-img-1, #radar-img-2, #radar-img-3, #radar-img-4, #radar {
  top: 85px;
  left: 135px;
  width: 149px;
  height: 149px;
}
#radar-img-1 {
  background: url(radar-img-1.png) no-repeat;
}
#radar-img-2 {
  background: url(radar-img-2.png) no-repeat;
}
#radar-img-3 {
  background: url(radar-img-3.png) no-repeat;
}
#radar-img-4 {
  background: url(radar-img-4.png) no-repeat;
}
#btn-replay {
  position: absolute;
  bottom: 5px;
  right: 5px;
  visibility: hidden;
  opacity: 0;
}
