@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 726px;
  height: 88px;
  overflow: hidden;
  border:1px solid black;
  background: url("bg.jpg") center no-repeat;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 726px;
  height: 88px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#text1 {
  background: url("text1.png") center no-repeat;
}
#box2 {
  background: url("box2.png") center no-repeat;
  top: 90px;
}
#box3 {
  background: url("box3.png") center no-repeat;
  top: 90px;
}
#box4 {
  background: url("box4.png") center no-repeat;
  top: 90px;
}
#box5 {
  background: url("box5.png") center no-repeat;
  top: 90px;
}
#box6 {
  background: url("box6.png") center no-repeat;
  top: 90px;
}
#text7 {
  background: url("text7.png") center no-repeat;
}
#text8 {
  background: url("text8.png") center no-repeat;
}
#white {
  background: url("white.png") center no-repeat;
}
#logo {
  background: url("logo.png") center no-repeat;
}
#dsf {
  background: url("dsf_logo.png") center no-repeat;
  top: 20px;
}
#cta {
  background: url("cta.png") center no-repeat;
  top: 20px;
}
#text10 {
  background: url("text10.png") center no-repeat;
  top: 20px;
}
#btn-replay {
  position: absolute;
  top: 3px;
  right: 3px;
	height: 16px;
  visibility: hidden;
  opacity: 0;
	line-height: 0;
}
