@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 298px;
  height: 248px;
  overflow: hidden;
  border: 1px solid black;
  background: url("bg.jpg") center no-repeat;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 298px;
  height: 248px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#f1_text {
  background: url("f1_text.png") center no-repeat;
  -ms-transform: scale(0.1); 
  -webkit-transform: scale(0.1); 
  transform: scale(0.1);
}
#f2 {  
  background: url("f2_bg.png") center no-repeat;
  top: 300px;
}
#f3_text {
  background: url("f3_text.png") center no-repeat;
  top: 50px;
}
#f4_text {
  background: url("f4_text.png") center no-repeat;
  top: 50px;
}
#cta {
  background: url("cta.png") center no-repeat;
  top: 50px;
}
#logo {
  background: url("logo.png") center no-repeat;
}
#logo_AWR {
  background: url("logo_AWR.png") center no-repeat;
}
#replayButton {
  position: absolute;
  top: 3px;
  right: 3px;
	height: 16px;
  visibility: hidden;
  opacity: 0;
	line-height: 0;
}

#flipContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.numCell {
  position: absolute;
  width: 74px;
  height: 69px;
  background: url("num_0.png") center no-repeat;
}
.number_top, .number_bottom {
  position: absolute;
  left: 0;
  width: 74px;
  height: 34px;
  background-repeat: no-repeat;
}
.number_top {
  top: 0;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  background-position: left top;
}
.number_bottom {
  top: 35px;
  background-position: left bottom;
}
#cell_1 {
  top: 80px;
  left: 22px;
}
#cell_2 {
  top: 80px;
  left: 112px;
}
#cell_3 {
  top: 80px;
  left: 201px;
}