body {
  margin: 0;
  padding: 0;
}
#global {
	position: relative;
	width: 726px;
	height: 88px;
	border: 1px solid #000;
	overflow: hidden;
	cursor: pointer;
	background: url('frame-1.jpg') no-repeat;
}
#clickTag {
	display: inline-block;
}
.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 728px;
	height: 90px;
	opacity: 0;
}
#logo {
	background: url('logo.png') no-repeat;
	opacity: 1;
}
#text1 {
	background: url('text1.png') no-repeat;
}
#frame2 {
	background: url('frame-2.jpg') no-repeat;
}
#text2 {
	top: 90px;
	background: url('text2.png') no-repeat;
}
#frame3 {
	background: url('frame-3.jpg') no-repeat;
}
#text3 {
	top: 90px;
	background: url('text3.png') no-repeat;
}
#frame4 {
	background: url('frame-4.png') no-repeat center;
}
#text4 {
	background: url('text4.png') no-repeat;
}
#logo-text {
	background: url('logo-text.png') no-repeat;
}
#text5 {
	background: url('text5.png') no-repeat;
}
#cta {
	background: url('cta.png') no-repeat;
}
#btn-replay{
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: url('replay.png') no-repeat center;
	opacity: 0;
}