@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 298px;
  height: 58px;
}
#banner {
  position: relative;
  width: 298px;
  height: 58px;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
	background: url('bg.jpg') center no-repeat;
}
#bg1{
	width:243px;
	height: 235px;
	top: -73px;
  left: 40px;
  background: url('bg1.png') center no-repeat;
	-ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#flower1{
  width: 105px;
  height: 70px;
	left: -49px;
  top: -26px;
  background: url('flower1.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#flower2{
  width: 83px;
  height: 70px;
	left: 267px;
  top: -12px;
  background: url('flower2.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f1_text{
  background: url('f1_text.png') center no-repeat;
  top: -6px;  
}
#f2_text{
  background: url('f2_text.png') center no-repeat;
  top: -6px;  
}

#bg2{
  width: 362px;
  height: 279px;
  top: -122px;
  left: 22px;
  background: url('bg2.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#flower3{
  width: 243px;
  height:243px;
  left: -177px;
  top: -13px;
  background: url('flower3.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f3_text{
  background: url('f3_text.png') center no-repeat;
  top: -6px;  
}

#f4_text{
  background: url('f4_text.png') center no-repeat;
  top: -6px;  
}
#bg3{
	width: 288px;
	height: 297px;
	top: -150px;
  left: -127px;
  background: url('bg3.png') center no-repeat;
	-ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#logo{
  background: url('logo.png') center no-repeat;
}
#cta{
  background: url('cta.png') center no-repeat;
  top: 15px; 
}
#f5_text{
  background: url('f5_text.png') center no-repeat;
  top: -6px;  
}
#reload {
  width: 14px;
  height: 14px;
  left: inherit;
  right: 0;
  top:0px;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
  visibility: hidden;
}