@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 726px;
  height: 88px;
  overflow: hidden;
  border:1px solid black;
  background: #000;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 726px;
  height: 88px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#text1 {
  background: url("text1.png") center no-repeat;
  -ms-transform: scale(5);
  -webkit-transform: scale(5);
  transform: scale(5);
}
#text2 {
  background: url("text2.png") center no-repeat;
  -ms-transform: scale(5);
  -webkit-transform: scale(5);
  transform: scale(5);
}
#text3 {
  background: url("text3.png") center no-repeat;
  -ms-transform: scale(5);
  -webkit-transform: scale(5);
  transform: scale(5);
}
#logo {
  background: url("logo.png") center no-repeat;
}
#cta {
  background: url("cta.png") center no-repeat;
  opacity: 1;
}
#date {
  background: url("date.png") center no-repeat;
  top: 50px;
}
#endTxt1 {
  background: url("endTxt1.png") center no-repeat;
  left: -50px;
/*  top: 14px;
  left: 10px;
  width: 84px;
  height: 24px;
*/}
#endTxt2 {
  background: url("endTxt2.png") center no-repeat;
  left: -50px;
/*  top: 36px;
  left: 106px;
  width: 54px;
  height: 23px;
*/}
#endTxt3 {
  background: url("endTxt3.png") center no-repeat;
  left: -50px;
/*  top: 57px;
  left: 178px;
  width: 172px;
  height: 22px;
*/}
canvas {
  position: absolute;
  display: block;
  z-index: 999;
}