body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
img {
  vertical-align: middle;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 158px;
  height: 598px;
  border: 1px solid #000;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 600px;
  visibility: hidden;
  opacity: 0;
}
#bg1 {
  visibility: visible;
  background: url(bg1.jpg) no-repeat;
  top: -1px;
  opacity: 1;
}
#logo{
  visibility: visible;
  background: url(logo.png) no-repeat;
  top: -1px;
  opacity: 1;
  z-index: 1;
}
#text1{
  background: url(text1.png) no-repeat;
}
#bg2 {
  top: -1px;
  background: url(bg2.jpg) no-repeat;
}
#text2{
  left: 160px;
  background: url(text2.png) no-repeat;
}
#text3{
  left: 160px;
  background: url(text3.png) no-repeat;
}
#bg3 {
  top: -1px;
  background: url(bg3.jpg) no-repeat;
}
#bg4 {
  top: -1px;
  left: -1px;
  background: url(bg4.jpg) no-repeat;
}
#text4{
  width: 160px;
  height: 510px;
  top: 90px;
  background: url(text4.png) no-repeat;
  z-index: 1;
}
#text5{
  background: url(text5.png) no-repeat;
}
#cta{
  background: url(cta.png) no-repeat;
}
#btn_replay{
  width: 14px;
  height: 12px;
  top: 3px;
  left: 3px;
  background: url(btn-replay.png) no-repeat;
  z-index: 1;
}
