@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 766px;
  height: 1022px;
  overflow: hidden;
  border:1px solid black;
  background: url("bg.jpg") center no-repeat;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 766px;
  height: 1022px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#f1_text1 {
  background: url("f1_text1.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, -55, -231); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -55, -231); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, -55, -231);
}
#f1_text2 {
  background: url("f1_text2.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 91, -231); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 91, -231); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 91, -231);
}
#f1_text3 {
  background: url("f1_text3.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, -2, -203); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -2, -203); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, -2, -203);
}
#milk_bottle {
  background: url("milk_bottle.png") center no-repeat;
  opacity: 1;
  left: 554px;
}
#f2_text1 {
  background: url("f2_text1.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, -56, 94); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, -56, 94); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, -56, 94);
}
#f2_text2 {
  background: url("f2_text2.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 44, 112); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 44, 112); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 44, 112);
}
#f2_text3 {
  background: url("f2_text3.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 1, 155); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 1, 155); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 1, 155);
}
#f2_text4 {
  background: url("f2_text4.png") center no-repeat;
  -ms-transform: matrix(0.5, 0, 0, 0.5, 11, 187); /* IE 9 */
  -webkit-transform: matrix(0.5, 0, 0, 0.5, 11, 187); /* Safari */
  transform: matrix(0.5, 0, 0, 0.5, 11, 187);
}
#f2_text5 {
  background: url("f2_text5.png") center no-repeat;
}
#f2_text6 {
  background: url("f2_text6.png") center no-repeat;
}
#f2_text7 {
  background: url("f2_text7.png") center no-repeat;
}