@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 726px;
  height: 88px;
}
#banner {
  position: relative;
  width: 726px;
  height: 88px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#bg {
  background: url('bg.jpg') center;
  background-size: cover;
  opacity: 1;
}
#cta {
  background: url('cta.png') center;
  top: 20px;
}
#logo {
  background: url('logo.png') center;
}
#rope1 {
  background: url('rope1.png') center;
}
#rope2 {
  background: url('rope2.png') center;
}
#rope3 {
  background: url('rope3.png') center;
}
#rope4 {
  background: url('rope4.png') center;
}
#rope5 {
  background: url('rope5.png') center;
}
#text1 {
  background: url('text1.png') center;
  /*top: -90px;*/
}
#text2 {
  background: url('text2.png') center;
  /*top: -90px;*/
}
#text3 {
  background: url('text3.png') center;
}



