@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 318px;
  height: 354px;
}
#banner {
  position: relative;
  width: 318px;
  height: 354px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#bg {
  width: 318px;
  height: 354px;
  background: url('bg.jpg') center;
  background-size: cover;
}
#logo-1 {
  background: url('logo-1.png') center;
  opacity: 1;
}
#logo-2 {
  background: url('logo-2.png') center;
  left: -298px;
}
#logo-3 {
  background: url('logo-3.png') center;
   left: 298px;
}
#text-1 {
  background: url('text-1.png') center;
}
#text-2 {
  background: url('text-2.png') center;
}
#text-3 {
  background: url('text-3.png') center;
}
#tc {
  background: url('tc.png') center;
}
#juke-text-1 {
  background: url('juke-text-1.png') center;
  left: -150px;
}
#juke-text-2 {
  background: url('juke-text-2.png') center;
  left: 150px;
}
#juke-car {
  background: url('juke-car.png') center;
  left: 298px;
  -webkit-transform: scale(0.3);
     -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
       -o-transform: scale(0.3);
          transform: scale(0.3);
}
#xt-text-1 {
  background: url('xt-text-1.png') center;
  left: -150px;
}
#xt-text-2 {
  background: url('xt-text-2.png') center;
  left: 150px;
}
#xt-car {
  background: url('xt-car.png') center;
  left: 298px;
  -webkit-transform: scale(0.3);
     -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
       -o-transform: scale(0.3);
          transform: scale(0.3);
}
#pf-text-1 {
  background: url('pf-text-1.png') center;
  left: -150px;
}
#pf-text-2 {
  background: url('pf-text-2.png') center;
  left: 150px;
}
#pf-car {
  background: url('pf-car.png') center;
  left: 298px;
  -webkit-transform: scale(0.3);
     -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
       -o-transform: scale(0.3);
          transform: scale(0.3);
}
#mu-text-1 {
  background: url('mu-text-1.png') center;
  left: -150px;
}
#mu-text-2 {
  background: url('mu-text-2.png') center;
  left: 150px;
}
#mu-car {
  background: url('mu-car.png') center;
  left: 298px;
  -webkit-transform: scale(0.3);
     -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
       -o-transform: scale(0.3);
          transform: scale(0.3);
}
#cta {
  background: url('cta.png') center;
  top: 200px;
}
