@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 728px;
  height: 90px;
  opacity: 0;
}
#banner {
  position: relative;
  width: 726px;
  height: 88px;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
}
#bg{
  background: url('bg.jpg') center no-repeat;
  opacity: 1;
}
#bg2{
  background: url('bg2.jpg') center no-repeat;
}
#coin-bottom{
  background: url('coin_bottom.png') center no-repeat;
}
#title1{
  background: url('title1.png') center no-repeat;
}
#car1{
  background: url('car1.png') center no-repeat;
  top: -10px;
  left: -50px;
}
#title2{
  background: url('title2.png') center no-repeat;
}
#car2{
  background: url('car2.png') center no-repeat;
  top: -10px;
  left: -50px;
}
#car2-name{
  background: url('car2_name.png') center no-repeat;
  top: 50px;
}
#car1-name{
  background: url('car1_name.png') center no-repeat;
  top: 50px;
}
#logo{
  background: url('logo.png') center no-repeat;
  opacity: 1;
}
#coin{
  background: url('coin.png') center no-repeat;
  left: 22px;  
}
#coin-left1{
  background: url('coin_left1.png') center no-repeat;
  transform: scale(0.1);
  top: 20px;
}
#coin-right1{
  background: url('coin_right1.png') center no-repeat;
  transform: scale(0.1);
  top: -20px;
}#coin-left2{
  background: url('coin_left2.png') center no-repeat;
  transform: scale(0.1);
  top: -20px;
}
#coin-right2{
  background: url('coin_right2.png') center no-repeat;
  transform: scale(0.1);
  top: -20px;
}
#free{
  background: url('free.png') center no-repeat;
  left: 20px;
}
#text1{
  background: url('text1.png') center no-repeat;
  left: 20px;  
}
#text2{
  background: url('text2.png') center no-repeat;
  left: 20px;
}
#text3{
  background: url('text3.png') center no-repeat;
  left: 20px;
}
#text4{
  background: url('text4.png') center no-repeat;
  left: 20px;
}
#tc{
  background: url('tc.png') center no-repeat;
}
#logo-end{
  background: url('logo_end.png') center no-repeat;
}
#cta{
  background: url('cta.png') center no-repeat;
  top: 50px;
}
#car3{
  background: url('car3.png') center no-repeat;
  top: -10px;
  left: 50px;
}
#car3-name{
  background: url('car3_name.png') center no-repeat;
  top: 50px;
}
#car4{
  background: url('car4.png') center no-repeat;
  top: -10px;
  left: 50px;
}
#car4-name{
  background: url('car4_name.png') center no-repeat;
  top: 50px;
}
#shakeTxt {
  background: url('shake.png') center no-repeat;
}
