body {
  margin: 0;
  padding: 0;
  background: #ffffee;
}
img {
  vertical-align: middle;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  border: 1px solid #000000;
  background: #ffffff url(frame-1.jpg) no-repeat;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
}
#frame2 {
  background: url(frame-2.jpg) no-repeat;
  left: -350px;
  -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Safari */
  transform: rotate(30deg);
}
#frame4 {
  background: url(frame-4.jpg) no-repeat;
  left: 350px;
  -ms-transform: rotate(70deg); /* IE 9 */
  -webkit-transform: rotate(70deg); /* Safari */
  transform: rotate(70deg);
}
#frame5 {
  background: url(frame-5.jpg) no-repeat;
  top: -350px;
  -ms-transform: rotate(40deg); /* IE 9 */
  -webkit-transform: rotate(40deg); /* Safari */
  transform: rotate(40deg);
}
#frame5-text {
  background: url(frame-5-text.png) no-repeat;
}
#frame6 {
  background: url(frame-6.jpg) no-repeat;
}
#frame6-text {
  background: url(frame-6-text.png) no-repeat;
}
#frame7 {
  background: url(frame-7.jpg) no-repeat;
}
#frame7-text {
  background: url(frame-7-text.png) no-repeat;
}
#frame8 {
  background: url(frame-8.png) no-repeat;
}
#frame8-text {
  background: url(frame-8-text.png) no-repeat;
}
#logo {
  background: url(logo.png) no-repeat;
}
#logo-text {
  background: url(logo-text.png) no-repeat;
}
#cta {
  background: url(cta.png) no-repeat;
}

