body {
    font-family: Arial, sans-serif;
    margin: 0px;
}
#ad {
    display: block;
    border: #fff 1px solid;
    overflow: hidden;
    width: 298px;
    height: 598px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#banner {
    position: absolute;
    display: block;
    width: 298px;
    height: 598px;
    background-color: #000;
    overflow: hidden;
    cursor: pointer;
}
.video-container {
    height: 600px;
    position: absolute;
    width: 300px;
    visibility: hidden;
}
.centered {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
video {
    height: 100%;
    width: 100%;
}
.ios-center-video-controls video::-webkit-media-controls {
    min-width: 0;
}
.sdk .sdk-video-player {
    height: 100%;
    width: 100%;
    position: relative;
    background: url("../images/poster.jpg");
    background-size: cover;
}
.sdk .sdk-video-player-button {
    cursor: pointer;
    position: absolute;
    width: 55px;
    height: 55px;
    background: url("../images/play.png") no-repeat scroll 0px 0px;
    background-size: cover;
}

