@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  
  position: absolute;
  width: 158px;
  height: 598px;
  overflow: hidden;
  border: 1px solid black;
  background-color: #ffffff ;

}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 158px;
  height: 598px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#logo{
  opacity: 1;
  background: url('logo.png') center no-repeat;

}
#logo_name{
  opacity: 1;
  background: url('logo_name.png') center no-repeat;
}
#text1{
  background: url('text1.png') center no-repeat;
  top:-50px;
}
#text2{
  background: url('text2.png') center no-repeat;
  top:-50px;
}
#text3{
  background: url('text3.png') center no-repeat;
  top:-50px;
}
#text4{
  background: url('text4.png') center no-repeat;
  top:-50px;
}
#text5{
  background: url('text5.png') center no-repeat;
  top:-50px;
}
#text6{
  background: url('text6.png') center no-repeat;
  top:-50px;
}
#face1{
  background: url('face1.jpg') center no-repeat;
}
#face2{
  background: url('face2.jpg') center no-repeat;
}
#face3{
  background: url('face3.jpg') center no-repeat;
}
#face4{
  background: url('face4.jpg') center no-repeat;
}
#face6{
  background: url('face6.jpg') center no-repeat;
}
#smile{
  background: url('image.png') center no-repeat;
  transform: scale(0.1);
  -ms-transform: scale(0.1);
  -webkit-transform: scale(0.1);
}
#cta{
  background: url('cta.png') center no-repeat;
  top:20px;
}
#tc{
  background: url('tc.png') center no-repeat;
}
#btn-replay {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1px;
  left: 1px;
  visibility: hidden;
  opacity: 0;
}