@charset "UTF-8";
/* CSS Document */

body, body * {
	vertical-align:baseline;
	border:0 none;
	outline:0;
	padding:0;
	margin:0;
}

#container{
	position:absolute;
	width:970px;
	height:500px;
	top:0px;
	left:0px;
	margin:auto;
}

#hide_btn{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 88px;
	height: 31px;
	font-family: arial;
	font-size: 12px;
	/*color:#bbbbbb;
	border:1px solid #bbbbbb;
	box-sizing: border-box;
	background-color:#ffffff;*/
	cursor: pointer;
	z-index: 250;

	background: black;
    opacity: .5;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#slimbarContent{
	position: absolute;
	top: 0px;
	right:0px;
	width:968px;
	height:15px;
	background-image: url('Background_970x15.jpg');
	border:1px solid #FFF;
	z-index:100;
	display:block;
}

#expand_btn3{
	position: absolute;
    right: 5px;
    bottom: 5px;
    height: 31px;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    cursor: pointer;
    z-index: 190;
    background: black;
    opacity: .5;
    padding-left: 5px;
    padding-right: 5px;
}


#collapsed {
	position: absolute;
	top: 0px;
	right:0px;
	width:968px;
	height:248px;
	border:1px solid #666666;
	z-index:100;
	display:block;
}

#expand_btn{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:transparent;
	cursor: pointer;
	z-index:100;
}
#expand_btn2{
	position:absolute;
	right:5px;
	bottom:5px;
	width:98px;
	height:31px;
	background-color:transparent;
	cursor: pointer;
	z-index:200;
}


#hide_btn{
	position: absolute;
    top: 5px;
    left: 5px;
    height: 31px;
    font-family: arial;
    font-size: 12px;
    cursor: pointer;
    z-index: 250;
    width: auto;
}

#expanded{
	position:absolute;
	top:0px;
	left:0px;
	width:968px;
	height:498px;
	border:1px solid #666666;
	z-index:400;
	display:none;
}

#exit_btn{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:transparent;
	cursor:pointer;
	z-index:400;
}


#exit_btn2{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:transparent;
	cursor:pointer;
	z-index:150;
}


#close_btn_expand{
	position:absolute;
	top:5px;
	right:5px;
	width:20px;
	height:20px;
	background-color:transparent;
	background-image:url('Close.png');
	cursor:pointer;
	z-index:400;
}

/**================BANNER 970x250===================**/
#banner1 .layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 968px;
  height: 248px;
}
#banner1 {
  position: relative;
  width: 968px;
  height: 248px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#banner1 #bg {  
  left: 0;
  width: 990px;
  background: url('bg.jpg') center;
  background-size: cover;
  opacity: 1;
}
#banner1 #logo {
  opacity: 1;
  background: url('logo.png') center;
}
#banner1 #awr-logo {
  background: url('awr-logo.png') center;
  opacity: 1;
}
#banner1 #sub-1 {
  background: url('sub-1.png') center;
}
#banner1 #sub-2 {
  background: url('sub-2.png') center;
}
#banner1 #sub-3 {
  background: url('sub-3.png') center;
}
#banner1 #sub-4 {
  background: url('sub-4.png') center;
}
#banner1 #sub-5 {
  background: url('sub-5.png') center;
}
#banner1 #cta {
  background: url('cta.png') center;
}
#banner1 #tc {
  background: url('tc.png') center;
}
#reload {
  width: 20px;
  height: 20px;
  left: inherit;
  right: 0;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
}

/**================BANNER 970x250===================**/
#banner2 .layer-2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 968px;
  height: 498px;
}
#banner2 {
  position: relative;
  width: 968px;
  height: 498px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#banner2 #bg-2 {  
  left: -20px;
  width: 990px;
  background: url('bg-2.jpg') center;
  background-size: cover;
  opacity: 1;
}
#banner2 #logo-2 {
  opacity: 1;
  background: url('logo-2.png') center;
}
#banner2 #awr-logo-2 {
  background: url('awr-logo-2.png') center;
  opacity: 1;
}
#banner2 #sub-1-2 {
  background: url('sub-1-2.png') center;
}
#banner2 #sub-2-2 {
  background: url('sub-2-2.png') center;
}
#banner2 #sub-3-2 {
  background: url('sub-3-2.png') center;
}
#banner2 #sub-4-2 {
  background: url('sub-4-2.png') center;
}
#banner2 #sub-5-2 {
  background: url('sub-5-2.png') center;
}
#banner2 #cta-2 {
  background: url('cta-2.png') center;
}
#banner2 #tc-2 {
  background: url('tc-2.png') center;
}
#reload-2 {
  width: 20px;
  height: 20px;
  left: inherit;
  right: 0;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
}