@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#banner {
  position: relative;
  width: 118px;
  height: 598px;
  border: 1px solid #000;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}
#bg {
  width: 120px;
  height: 600px;
  opacity: 1;
  background: url('bg.jpg') center;
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
}
#bg-2 {
  background: url('bg-2.png') center;
}
#bg-3, #cta, #text-1, #logo, #bg-4, #bg-2 {
  width: 120px;
  height: 600px;
}
#bg-3 {
  left: -120px;
  background: url('bg-3.png') center;
}
#bg-4 {
  background: url('bg-4.png') center;
}
#cta {
  background: url('cta.png') center;
}
#text-1 {
  top: 100px;
  left: -300px;
  background: url('text-1.png') center;
}
#logo {
  background: url('logo.png') center;
}
#bg-card {
  width: 120px;
  height: 600px;
  top: 0;
  left: 0;
  background: url('bg-card.jpg') center;
}
#bg-card1 {
  width: 120px;
  height: 600px;
  top: 0;
  left: 0;
  background: url('bg-card1.jpg') center;
}
#liberty-left {
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -63px;
  width: 87px;
  height: 128px;
  background: url('statue.png') center;
}
#liberty-right {
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -63px;
  width: 87px;
  height: 128px;
  background: url('statue.png') center;
}
