*
{
	margin: 0;
	padding: 0;
	color: #ffffff;
}
@font-face {
  font-family: NissanAGBold;
  src: url(NissanAG-Bold.woff) format('woff');

}
@font-face {
  font-family: NissanProBold;
  src: url(NissanPro-Bold.woff) format('woff');
}
.global, #standalone{
	position: absolute;
	left: 0;
	top: 0;
	width: 728px;
	height: 90px;
	overflow: hidden;
	background-color: #ffffff;
	cursor: pointer;
}
#standalone{
	display: none;
}
#background,#background2, #background3, #packshot,#packshot2,#packshot3, #headlights, #f1_title, #f2_title, #f2_subtitle, #f3_title, #f3_subtitle{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
#logo{
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
}
#headlights{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
#cta_wrapper{
  overflow: hidden;
  background: #c71444;
  font-family: NissanProBold, 'Arial', Helvetica Neue, Helvetica, sans-serif;
  position: absolute;

}
#cta_wrapper2{
  overflow: hidden;
  background: #c71444;
  font-family: NissanProBold, 'Arial', Helvetica Neue, Helvetica, sans-serif;
  position: absolute;

}
#cta_wrapper3{
  overflow: hidden;
  background: #c71444;
  font-family: NissanProBold, 'Arial', Helvetica Neue, Helvetica, sans-serif;
  position: absolute;

}
#cta_icon2, #cta_icon2_animate, #cta_text2 {
  position: absolute;
}
#cta_icon, #cta_icon_animate, #cta_text {
  position: absolute; 
}
#cta_icon3, #cta_icon3_animate, #cta_text3 {
  position: absolute;
}
#cta_highlight {
  left:-64px;
  position: absolute;

}
#cta_highlight2 {
  left:-72px;
  position: absolute;
}
#cta_highlight3 {
  left:-53px;
  position: absolute;
}
#f1_title{
  left: 457px;
  top: 21px;

}
#f2_title{
  left: 282px;
  top: 15px;
  opacity: 0;
}
#f2_subtitle{
  position: absolute;
  left: 264px;
  top: 36px;
  opacity: 0;
}
#f3_title{
  left: 340px;
  top: 15px;
  opacity: 0;
}
 #f3_subtitle{
  position: absolute;
  left: 340px;
  top: 36px;
  opacity: 0;
}
#f1_title, #f2_title, #f2_subtitle, #f3_title, #f3_subtitle {
  font-family: NissanAGBold, 'Arial', Helvetica Neue, Helvetica, sans-serif;
}













































































