body {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 970px;
  height: 500px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  overflow: hidden;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.button {
  position: absolute;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 3px 5px;
  /*z-index: 500;*/
  font-family: Arial, sans-serif;
  font-size: 11pt;
}
#collapse-button {
  top: 5px;
  right: 5px;
  display: none;
}
#expanded-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  /* IE10 needs a background color otherwise he won't capture clicks */
  opacity: 0;
  /*z-index: 400;*/
  display: none;
}
#collapsed-exit {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  /* IE10 needs a background color otherwise he won't capture clicks */
  opacity: 0;
  /*z-index: 400;*/
  display: none;
}
#collapsed-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 970px;
  height: 250px;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #000;
  overflow: hidden;
  background: url(bg.png) no-repeat;
}
#collapsed-panel .layer {
  width: 100%;
  height: 100%;
}
.feature-collapsed {
  top: 0;
  left: 0;
  width: 968px;
  height: 248px;
  position: absolute;
}
.feature-expanded {
  top: 0;
  left: 0;
  width: 968px;
  height: 498px;
  position: absolute;
}
#expanded-panel {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  display: none;
  overflow: hidden;
  border: 1px solid #000;
  background: url(big-bg.png) no-repeat;
}
#expanded-panel .layer {
  width: 100%;
  height: 100%;
}
/*#bgd {
  background: url(bg.png) no-repeat;
  visibility: visible;
  opacity: 1;
}*/
#radar {
  background: url(radar.png) no-repeat;
}
#radar-border{
  background: url(radar-border.png) no-repeat;
}
#logo {
  background: url(logo.png) no-repeat;
}
#f1-text {
  background: url(f1-text.png) no-repeat;
}
#f2-text {
  background: url(f2-text.png) no-repeat;
}
#f3-text {
  background: url(f3-text.png) no-repeat;
}
#text-box-1, #text-box-2, #text-box-3, #text-box-4, #text-box-5, #text-box-6 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
#text-box-1 {
  background: url(text-box-1.png) no-repeat;
}
#text-box-2 {
  background: url(text-box-2.png) no-repeat;
}
#text-box-3 {
  background: url(text-box-3.png) no-repeat;
}
#text-box-4 {
  background: url(text-box-4.png) no-repeat;
}
#text-box-5 {
  background: url(text-box-5.png) no-repeat;
}
#text-box-6 {
  background: url(text-box-6.png) no-repeat;
}
#f4-text {
  background: url(f4-text.png) no-repeat;
}
#f4-bgd {
  background: url(f4-bg.jpg) no-repeat;
}
#cta {
  background: url(cta.png) no-repeat;
}
#group-wrap #radar-border, #group-wrap .radar-group {
  top: 25px;
  left: 273px;
  width: 199px;
  height: 199px;
}
#radar-img-1 {
  background: url(radar-img-1.png) no-repeat;
}
#radar-img-2 {
  background: url(radar-img-2.png) no-repeat;
}
#radar-img-3 {
  background: url(radar-img-3.png) no-repeat;
}
#radar-img-4 {
  background: url(radar-img-4.png) no-repeat;
}
#btn-replay-970x250, #btn-replay-970x500 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  visibility: hidden;
  opacity: 0;
}
/*970x500*/
#big-bgd {
  background: url(big-bg.png) no-repeat;
  visibility: visible;
  opacity: 1;
}
#big-radar {
  background: url(big-radar.png) no-repeat;
}
#big-radar-border{
  background: url(big-radar-border.png) no-repeat;
}
#big-logo {
  background: url(big-logo.png) no-repeat;
}
#big-f1-text {
  background: url(big-f1-text.png) no-repeat;
}
#big-f2-text {
  background: url(big-f2-text.png) no-repeat;
}
#big-f3-text {
  background: url(big-f3-text.png) no-repeat;
}
#big-text-box-1, #big-text-box-2, #big-text-box-3, #big-text-box-4, #big-text-box-5, #big-text-box-6 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
#big-text-box-1 {
  background: url(big-text-box-1.png) no-repeat;
}
#big-text-box-2 {
  background: url(big-text-box-2.png) no-repeat;
}
#big-text-box-3 {
  background: url(big-text-box-3.png) no-repeat;
}
#big-text-box-4 {
  background: url(big-text-box-4.png) no-repeat;
}
#big-text-box-5 {
  background: url(big-text-box-5.png) no-repeat;
}
#big-text-box-6 {
  background: url(big-text-box-6.png) no-repeat;
}
#big-f4-text {
  background: url(big-f4-text.png) no-repeat;
}
#big-f4-bgd {
  background: url(big-f4-bg.jpg) no-repeat;
}
#big-cta {
  background: url(big-cta.png) no-repeat;
}
#big-group-wrap .radar-group {
  top: 72px;
  left: 155px;
  width: 352px;
  height: 352px;
}
#big-radar-img-1 {
  background: url(big-radar-img-1.png) no-repeat;
}
#big-radar-img-2 {
  background: url(big-radar-img-2.png) no-repeat;
}
#big-radar-img-3 {
  background: url(big-radar-img-3.png) no-repeat;
}
#big-radar-img-4 {
  background: url(big-radar-img-4.png) no-repeat;
}
