@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 600px;
  opacity: 0;
}
#banner {
  position: relative;
  width: 118px;
  height: 598px;
  border: 1px solid #000;
  background: url('bg.jpg');
  overflow: hidden;
  cursor: pointer;
}
#text1{
  background: url('text1.png') center no-repeat;
}
#text2{
  background: url('text2.png') center no-repeat;
}
#text3{
  background: url('text3.png') center no-repeat;
}
#text4{
  background: url('text4.png') center no-repeat;
}
#text5{
  background: url('text5.png') center no-repeat;
}
#mask{
  background: url('mask.png') center no-repeat;
  opacity: 1;
}
#cup1{
  background: url('cup1.png') center no-repeat;
  left: 200px;
}
#cup2{
  background: url('cup2.png') center no-repeat;
}
#cup3{
  background: url('cup3.png') center no-repeat;
}
#tea-box{
  background: url('tea-box.png') center no-repeat;
  top: 200px;
  opacity: 1;
}
#tea1{
  background: url('tea1.png') center no-repeat;
  top: -99px;
}
#tea2{
  background: url('tea2.png') center no-repeat;
  top: -99px;
}
#btn-replay {
  width: 12px;
  height: 13px;
  top: 3px;
  left: inherit;
  right: 3px;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
  visibility: hidden;
}