body {
  margin: 0;
  padding: 0;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 158px;
  height: 598px;
	background-image: url(bg.jpg);
  border: 1px solid #000000;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 600px;
  opacity: 0;
}
#bg2{
  background: url('bg.jpg');
  height: 216px;
  opacity: 1;
}
#text1{
  background: url('text1.png') center;
}
#text2{
  background: url('text2.png') center;
}
#text3{
  background: url('text3.png') center;
}
#text4{
  background: url('text4.png') center;
}
#text5{
  background: url('text5.png') center;
}
#cup1{
  background: url('cup1.png') center;
  opacity: 1;
  left: 160px;
}
#cup2{
  background: url('cup2.png') center;
}
#cup3{
  background: url('cup3.png') center;
}
#tea{
  background: url('tea.png') center;
  top: -88px;
}
#box{
  background: url('box.png') center;
  top: 100px;
  height: 600px;
  opacity: 1;
}
#replay{
  position: absolute;
  background: url('reload.png') center;
  width: 12px;
  height: 13px;
  top: 3px;
  left: 145px;
  visibility: hidden;
  cursor: pointer;
}

