@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 726px;
  height: 88px;
  overflow: hidden;
  border:1px solid black;
  background-color: #F5F5F5;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 726px;
  height: 88px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#logo {
	background: url("logo.png") center no-repeat;
	opacity: 1;
}
#logo1 {
	background: url("logo1.png") center no-repeat;
	opacity: 1;
}
#smile {
	background: url("smile.png") center no-repeat;
	transform: scale(0.1);
	-ms-transform: scale(0.1);
	-webkit-transform: scale(0.1);
	left:-50px;
	top:-5px;
}
#bg1 {
	background: url("bg1.jpg") center no-repeat;
}
#text1 {
	background: url("text1.png") center no-repeat;
	left: 30px;
}
#bg2 {
	background: url("bg2.jpg") center no-repeat;
}
#text2 {
	background: url("text2.png") center no-repeat;
	left: 30px;
}
#bg3 {
	background: url("bg3.jpg") center no-repeat;
}
#text3 {
	background: url("text3.png") center no-repeat;
	left: 30px;
}
#bg4 {
	background: url("bg4.jpg") center no-repeat;
}
#text4 {
	background: url("text4.png") center no-repeat;
	left: 30px;
}
#text5 {
	background: url("text5.png") center no-repeat;
	left: 30px;
}
#bg6 {
	background: url("bg6.jpg") center no-repeat;
}
#text6 {
	background: url("text6.png") center no-repeat;
	left: 30px;
}
#cta {
	background: url("cta.png") center no-repeat;
	top: 30px;
}
#tc {
	background: url("tc.png") center no-repeat;
}
#btn-replay {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  right: 3px;
  visibility: hidden;
  opacity: 0;
}
