@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 728px;
  height: 90px;
  opacity: 0;
}
#banner {
  position: relative;
  width: 726px;
  height: 88px;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
	background: #FFD300;;
}
#f1-bg{
  background: url('f1_bg.jpg') center no-repeat;
  opacity: 1;
}
#f1-text{
  background: url('f1_text.png');
  left: 200px;
}
#f1-woman1{
  background: url('f1_woman1.png');
}
#f1-woman2{
  background: url('f1_woman2.png');
}
#f2-bg{
  background: url('f2_bg.jpg') center no-repeat;
  opacity: 1;
  left: 728px;
}
#f2-text{
  background: url('f2_text.png');
  opacity: 1;
  left: 728px;
}
#f2-woman1{
  background: url('f2_woman1.png');
  opacity: 1;
  left: 728px;
}
#f2-woman2{
  background: url('f2_woman2.png');
}
#f2-woman3{
  background: url('f2_woman3.png');
}
#f3-box1{
  background: url('f3_box1.png');
  left: -50px;
}
#f3-box2{
  background: url('f3_box2.png');
  left: 50px;
}
#f3-text{
  background: url('f3_text.png');
  top:-50px;
}
#f3-logo{
  background: url('f3_logo.png');
}
#replay {
  top: 3px;
  left: 2px;
  background: url('btn_replay.png') no-repeat;
  visibility: hidden;
  width: 12px;
  height: 13px;

  
}