@charset "UTF-8";
body {
  margin:0;
  padding: 0;
}
.layer {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 158px;
  height: 598px;
}
#banner {
  position: relative;
  width: 158px;
  height: 598px;
  border: 1px solid #000;
  overflow: hidden;
  cursor: pointer;
	background: url('bg.jpg') center no-repeat;
}
#f1_bg1{
	width: 367px;
	height: 359px;
	top: 115px;
  left: -104px;
  background: url('f1_bg1.png') center no-repeat;
	-ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f1_bg2{
  width: 227px;
  height: 224px;
	left: -27px;
  top: -97px;
  background: url('f1_bg2.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f1_bg3{
  width: 211px;
  height: 189px;
	left: -32px;
  top: 449px;
  background: url('f1_bg3.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f1_text{
  background: url('f1_text.png') center no-repeat;
  top: -10px;  
}
#f2_text{
  background: url('f2_text.png') center no-repeat;
  top: -10px;  
}

#f3_bg1{
  width: 250px;
  height: 435px;
  top: -41px;
  left: -150px;
  background: url('f3_bg1.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f3_bg2{
  width: 289px;
  height: 289px;
  left: -69px;
  top: 382px;
  background: url('f3_bg2.png') center no-repeat;
  -ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f3_text{
  background: url('f3_text.png') center no-repeat;
  top: -10px;  
}

#f4_text{
  background: url('f4_text.png') center no-repeat;
  top: -10px;  
}
#f5_bg{
	width: 361px;
	height: 372px;
	top: -52px;
  left: -105px;
  background: url('f5_bg.png') center no-repeat;
	-ms-transform: scale(0.005);
  -webkit-transform: scale(0.005);
  transform: scale(0.005);
}
#f5_logo{
  background: url('f5_logo.png') center no-repeat;
}
#f5_cta{
  background: url('f5_cta.png') center no-repeat;
  top: 20px; 
}
#f5_text{
  background: url('f5_text.png') center no-repeat;
  top: -10px;  
}
#reload {
  width: 14px;
  height: 14px;
  left: inherit;
  right: 0;
  background: url('reload.png');
  background-size: cover;
  z-index: 10;
  visibility: hidden;
}