body {
  margin: 0;
  padding: 0;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 726px;
  height: 88px;
	background: #158acb;
  border: 1px solid #000000;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 728px;
  height: 88px;
  opacity: 0;
}
#bg{
  background: url('bg.jpg') center;
	opacity: 1;

}
#over{
	position: absolute;
  width: 728px;
  height: 90px;
  opacity: 1;
  background: url('over.png')center no-repeat;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
#logo{
  background-image: url('logo.png');
	opacity: 1;
}
#bottle{
  background-image: url('bg_final.jpg');
}
#f1_blur{
  background-image: url('f1_blur.png');
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
}
#text1{
  background-image: url('text1.png');
  left: 100px;
}
#text2{
  background-image: url('text2.png');
  top: 40px;
  opacity: 1;
}
#fivebottles{
  background-image: url('5bottles.png');
}
#cta{
  background-image: url(cta.png);
}


