@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 298px;
  height: 598px;
  overflow: hidden;
  border:1px solid #777;

}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 298px;
  height: 598px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#bg1 {
  background: url("bg1.jpg") center no-repeat;
}
#logo {
  background: url("logo.png") center no-repeat;
  opacity: 1;
}
#logo_name {
  background: url("logo_name.png") center no-repeat;
  opacity: 1;
}
#bg2 {
  background: url("bg2.jpg") center no-repeat;
}
#title {
  background: url("title.png") center no-repeat;
  top: -20px;
}
#subtitle {
  background: url("subtitle1.png") center no-repeat;
  top: -10px;
}
#price {
  background: url("price.png") center no-repeat;

}
#cta1 {
  background: url("cta1.png") center no-repeat;
  top:20px;
}
#cta2 {
  background: url("cta2.png") center no-repeat;
  top:20px;
}
#btn-replay {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  right: 3px;
  visibility: hidden;
  opacity: 0;
}
