body {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 968px;
  height: 248px;
  border: 1px solid #000000;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
#frame-1 {
  background: url(frame-1.jpg) no-repeat;
  visibility: visible;
  opacity: 1;
}
#text1 {
  background: url(text1.png) no-repeat;
}
#video-frame, #frame-2 {
  background: url(frame-2.png) no-repeat;
}
#text2 {
  background: url(text2.png) no-repeat;
}
#text3 {
  background: url(text3.png) no-repeat;
}
#logo, #logo-1 {
  background: url(logo.png) no-repeat;
  visibility: visible;
  opacity: 1;
}
#logo-text {
  background: url(logo-text.png) no-repeat;
}
#cta {
  background: url(cta.png) no-repeat;
}
#video {
  width: 450px;
  left: 264px;
}

