body {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
img {
  vertical-align: middle;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 968px;
  height: 248px;
  border: 1px solid #000000;
  background: #ffffff url(mainBg.jpg) no-repeat center;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 970px;
  height: 250px;
  visibility: hidden;
  opacity: 0;
}
#bg {
  background: url(bg.png) no-repeat center;
}
#logo {
  background: url(logo.png) no-repeat center;
  visibility: visible;
  opacity: 1;
}
#f1-text {
  background: url(f1-text.png) no-repeat center;
}
#f2-text {
  background: url(f2-text.png) no-repeat center;
}
#f3-text {
  background: url(f3-text.png) no-repeat center;
}
#f4-text {
  background: url(f4-text.png) no-repeat center;
}
#cta {
  background: url(cta.png) no-repeat center;
}

