body {
  margin: 0;
  padding: 0;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 298px;
  height: 248px;
	background: #158acb;
  border: 1px solid #000000;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px;
  opacity: 0;
}
#bg{
  background: url('bg.jpg') center;
  opacity: 1;
}
#logo{
  background: url('logo.png') center;
}

#f1_charm{
  width: 150px;
  height: 125px;
  background: url('f1_charm.jpg') center;
  left: 300px;
  opacity: 1;
}
#f1_model{
  width: 150px;
  height: 125px;
  background: url('f1_model.jpg') center;
  left: -150px;
  opacity: 1;
}
#f1_text{
  background: url('f1_text.png') center;
  top: 20px;
}
#f1_cta{
  background: url('f1_cta.png') center;
  left: -20px;
}

#f2_bg{
  background: url('f2_bg.jpg') center;
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
}

#f3_charm{
  width: 150px;
  height: 125px;
  background: url('f3_charm.jpg') center no-repeat;
  left: 300px;
  opacity: 1;
}
#f3_model{
  width: 150px;
  height: 125px;
  background: url('f3_model.jpg') center;
  left: -150px;
  opacity: 1;
}
#f3_text{
  background: url('f3_text.png') center;
  top: 20px;
}
#f3_cta{
  background: url('f3_cta.png') center;
  left: -20px;
}
#f4_bg{
  background: url('f4_bg.jpg') center;
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
}

#f5_jewellryBox{
  background: url('f5_jewellrybox.png') center;
  left: -250px;
  opacity: 1;
}
#f5_circle{
  background: url('f5_circle.png') center;
  left: 100px;
  opacity: 1;
}
#f5_text{
  background: url('f5_text.png') center;
  top: 20px;
}
#f5_cta{
  background: url('f5_cta.png') center;
  left: -20px;
}



