@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: relative;
  top: 0;
  left: 0;
  width: 298px;
  height: 58px;
  overflow: hidden;
  border:1px solid black;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 298px;
  height: 58px;
  opacity: 0;
}
.click-tag {
  width: 100%;
  height: 100%;
}
#img {
  background: url("img.png") center no-repeat;
  opacity: 1;
}
#mask {
  background: url("mask.png") center no-repeat;
  opacity: 1;
}
#f1_box {
  background: url("f1_box.png") center no-repeat;
}
#f1_text {
  background: url("f1_text.png") center no-repeat;
}
#f2_text {
  background: url("f2_text.png") center no-repeat;
}
#f3_text {
  background: url("f3_text.png") center no-repeat;
}
#cta {
  background: url("cta.png") center no-repeat;
  top: 20px;
}
#logo {
  background: url("logo.png") center no-repeat;
  left: 30px;
}
#btn-replay {
  width: 10px;
  height: 10px;
  top: -1px;
  left: 288px;
  background: url('reload.png');
  background-size: cover;
  cursor: pointer;
	visibility: hidden;
}
