body {
  margin: 0;
  padding: 0;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 726px;
  height: 88px;
	background: #f0e1de;
  border: 1px solid #000000;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 728px;
  height: 90px;
  opacity: 0;
}
#bg{
  background: url('bg.jpg') center;
  opacity: 1;
}
#logo{
  background: url('logo.png') center;
}

#f1_charm{
  background: url('f1_charm.png') center;
  left: 200px;
  opacity: 1;
}
#f1_model{
  background: url('f1_model.png') center;
  left: -200px;
  opacity: 1;
}
#f1_text{
  background: url('f1_text.png') center;
  top: 20px;
}
#f1_cta{
  background: url('f1_cta.png') center;
  left: -20px;
}

#f2_bg{
  background: url('f2_bg.jpg') center;
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
}

#f3_charm{
  background: url('f3_charm.png') center;
  left: 200px;
  opacity: 1;
}
#f3_model{
  background: url('f3_model.png') center;
  left: -200px;
  opacity: 1;
}
#f3_text{
  background: url('f3_text.png') center;
  top: 20px;
}
#f3_cta{
  background: url('f3_cta.png') center;
  left: -20px;
}
#f4_bg{
  background: url('f4_bg.jpg') center;
  -webkit-transform: scale(1.3);
     -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
       -o-transform: scale(1.3);
          transform: scale(1.3);
}

#f5_jewellryBox{
  background: url('f5_jewellrybox.png') center;
  left: -250px;
  opacity: 1;
}
#f5_text1{
  background: url('f5_text1.png') center;
  left: 100px;
}
#f5_text2{
  background: url('f5_text2.png') center;
  top: 20px;
}
#f5_cta{
  background: url('f5_cta.png') center;
  left: -20px;
}
 


