@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: absolute;
  width: 118px;
  height: 598px;
  overflow: hidden;
  border:1px solid black;
  background: url("bg.jpg") center no-repeat;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 118px;
  height: 598px;
  opacity: 0;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#f1_text1 {
  background: url("f1_text1.png") center no-repeat;
  -ms-transform: scale(0.1); 
  -webkit-transform: scale(0.1); 
  transform: scale(0.1);
  mix-blend-mode: multiply;
}
#f1_text2 {
  background: url("f1_text2.png") center no-repeat;
  -ms-transform: scale(0.1); 
  -webkit-transform: scale(0.1); 
  transform: scale(0.1);
  mix-blend-mode: multiply;
}
#f1_text3 {
  background: url("f1_text3.png") center no-repeat;
  -ms-transform: scale(0.1); 
  -webkit-transform: scale(0.1); 
  transform: scale(0.1);
  mix-blend-mode: multiply;
}
#f1_text4 {
  background: url("f1_text4.png") center no-repeat;
  -ms-transform: scale(0.1); 
  -webkit-transform: scale(0.1); 
  transform: scale(0.1);
  mix-blend-mode: darken;
}
#f2_text {
  background: url("f2_text.png") center no-repeat;
}
#f3_img {
  background: url("f3_img.png") center no-repeat;
  mix-blend-mode: multiply;
}
#f4_img {
  background: url("f4_img.png") center no-repeat;
  mix-blend-mode: multiply;
}
#f5_img {
  background: url("f5_img.png") center no-repeat;
  mix-blend-mode: multiply;
}
#f6_text {
  background: url("f6_text.png") center no-repeat;
}
#f7_img {
  background: url("f7_img.png") center no-repeat;
  left: 50px;
  top: 25px;
}
#f7_text {
  background: url("f7_text.png") center no-repeat;
  -ms-transform: scale(0.1); 
  -webkit-transform: scale(0.1); 
  transform: scale(0.1);
  mix-blend-mode: darken;
}
#cta {
  background: url("cta.png") center no-repeat;
  mix-blend-mode: multiply;
	-ms-transform: scale(0.1); 
  -webkit-transform: scale(0.1); 
  transform: scale(0.1);
}
#dsf_logo {
  background: url("dsf_logo.png") center no-repeat;
}
#btn-replay {
  position: absolute;
  top: 3px;
  right: 3px;
	height: 16px;
  visibility: hidden;
  opacity: 0;
	line-height: 0;
}
