@charset "UTF-8";
/* CSS Document */
body {
  margin:0;
  padding: 0;
}
#banner {
  position: relative;
  width:318px;
  height:48px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  border: 1px solid #e5edf1;
}
  #f1_bg {
  position: absolute;
  width: 320px;
  height: 50px;
  background: url(f1_bg.jpg);
}
  #f1_img, #f2_line, #f1_text, #f1_cta, #f2_line, #f2_text1, #f2_text2, #f2_text3, #f2_cta {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  #f1_bg, #f1_logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  #f1_logo{
    background: url(f1_logo.png);
  }
  #f1_img{
    left: 81px;
    width: 93px;
    height: 80px;
    top:-16px;
    background: url(f1_img.png) center;
      -webkit-transform: scale(1.5);
     -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
          transform: scale(1.5);
    background-repeat: no-repeat;
  }
  #f1_text{
    background: url(f1_text.png);
    left: 30px;
  }
  #f2_line{
    background: url(f2_line.png);
  }
  #f2_text1{
    background:#fff url(f2_text1.png);  
    left: 15px  
  }
  #f2_text2{
    background: url(f2_text2.png);
  }
  #f2_cta{
    background: url(f2_cta.png);
    top: 20px;    
  }
