body {
  margin: 0;
  padding: 0;
  background: #ffffee;
}
img {
  vertical-align: middle;
}
a {
  border: none;
  display: inline-block;
}
#banner {
  position: relative;
  overflow: hidden;
  width: 978px;
  height: 448px;
  border: 1px solid #000000;
  background: #e6427e;
}
.click-tag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 450px;
  visibility: hidden;
  opacity: 0;
}
#border, #border1 {
  left: 980px;
  background: url(border1.png) no-repeat right;
  width: 0;
}
#logo, #logo1  {
  background: url(logo.png) no-repeat;
  top: -180px;
  left: 258px;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#border2 {
  background: url(border2.png) no-repeat;
  height: 0;
}
#border3 {
  background: url(border3.png) no-repeat;
  height: 0;
}
#text1 {
  background: url(text1.png) no-repeat;
}
#text2 {
  left: -160px;
  background: url(text2.png) no-repeat;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#text3 {
  background: url(text3.png) no-repeat;
}
#text4 {
  top: -122px;
  left: -170px;
  background: url(text4.png) no-repeat;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#text5 {
  background: url(text5.png) no-repeat;
}
#text6 {
  top: 140px;
  background: url(text6.png) no-repeat;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
#text7 {
  top: 140px;
  left: -245px;
  background: url(text7.png) no-repeat;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}